In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Reading the data
df = pd.read_csv(r"..\Data\adult.csv")

In [3]:
# Dropping Unnamed: 0 column from dataframe
df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
# top 5 rows of dataframe
df.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# last 5 rows of dataframe
df.tail()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# size of the data
df.shape

(32561, 15)

In [7]:
# info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  class           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
##There are total 24 duplicates
## Dropping the duplicates
df.drop_duplicates(inplace=True)

In [10]:
## strpping the white space in workclass column
df['workclass'] = df['workclass'].str.strip()

In [11]:
## There are 1836 workclass value with category '?' relacing it with unknown
df['workclass'] = df['workclass'].replace('?',np.NaN)

In [12]:
## strpping the white space in occupation column
df['occupation'] = df['occupation'].str.strip()

In [13]:
## There are 1843 occupation value with category '?' relacing it with unknown
df['occupation'] = df['occupation'].replace('?',np.nan)

In [14]:
## strpping the white space in native-country column
df['native-country'] = df['native-country'].str.strip()

In [15]:
## There are 582  native-country value with category '?' relacing it with unknown
df['native-country'] = df['native-country'].replace('?',np.nan)

In [16]:
df.isnull().sum()

Age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     582
class                0
dtype: int64

In [17]:
for col in ['workclass','occupation','native-country'] :
    df[col].fillna(df[col].value_counts().index[0], inplace=True)

In [18]:
df.isnull().sum()

Age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
class             0
dtype: int64

In [19]:
df['class'] = df['class'].str.strip()

In [20]:
X = df.drop(['class'],axis=1)

In [21]:
y = df['class']

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=32)

In [23]:
categorical = [feature for feature in X.columns if X[feature].dtypes == 'O']

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
for feature in categorical:
    lbl = LabelEncoder()
    X_train[feature] = lbl.fit_transform(X_train[feature])
    X_test[feature] = lbl.transform(X_test[feature])

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [27]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)
pred = classifier.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.8278016799836099